* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --mainRed: #f00;
    --mainOrange: #f80;
    --mainYellow: #ff0;
    --mainGreen: #0f0;
}

body {
    /* min-height: 100vh; */
    width: 100%;
    padding-top: 96px;
}

.button {
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    text-decoration: none;
}

.topBar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

/* NAVIGATION BAR */

.navBar {
    background-color: #ff5555;
    display: flex;
    justify-content: space-between;
}

.navBarButton {
    color: white;
    padding: 10px;
    background-color: var(--mainRed);
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.navBarButton:hover {
    background-color: #aa0000;
}

/* MENU BAR */

.menuBar {
    background-color: #55ff55;
    display: flex;
}

.menuBarButton {
    color: white;
    padding: 10px;
    background-color: var(--mainGreen);
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.menuBarButton:hover {
    background-color: #00aa00;
}

.contentContainer {
    display: flex;
}

/* HORIZONTAL PAGE SECTIONS */

.leftContainer {
    flex: 2;
    padding: 20px;
    padding-right: 10px;
    display: flex;
}

.rightContainer {
    flex: 1;
    padding: 20px;
    padding-left: 10px;
    display: flex;
}

/* Style for yellow box around elements */

.mainBlock {
    border-radius: 10px;
    background-color: var(--mainYellow);
    padding: 20px;
    width: 100%;
    height: fit-content;
}

/* Menu items */

.menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.menuItem {
    border-radius: 10px;
    background-color: var(--mainOrange);
    padding: 10px;
    height: fit-content;
}

.menuItem img {
    object-fit: cover;
    width: 100%;
}

/* Cart */

.cartBlock {
    border-radius: 10px;
    background-color: var(--mainYellow);
    padding: 0 20px 20px 20px;
    width: 100%;
    height: fit-content;
}

.cartButton {
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: var(--mainOrange);
    padding: 10px;
    border-radius: 10px;
}

.cartContent {
    display: none;
}

.cartButton .accordionSymbol::after {
    content: "\02C5";
}

.cartButton.active .accordionSymbol::after {
  content: "\02C4";
}