* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    padding-top: 96px;
}

.button {
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    text-decoration: none;
}

.topBar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

/* NAVIGATION BAR */

.navBar {
    background-color: #ff5555;
    display: flex;
    justify-content: space-between;
}

.navBarButton {
    color: white;
    padding: 10px;
    background-color: #ff0000;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.navBarButton:hover {
    background-color: #aa0000;
}

/* MENU BAR */
.menuBar {
    background-color: #55ff55;
    display: flex;
}

.menuBarButton {
    color: white;
    padding: 10px;
    background-color: #00ff00;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.menuBarButton:hover {
    background-color: #00aa00;
}

.contentContainer {
    display: flex;
}

/* HORIZONTAL PAGE SECTIONS */

.leftContainer {
    /* position: relative; */
    /* top: 96px; */
    /* width: 60%; */
    flex: 3;
    padding: 20px;
    padding-right: 10px;
    display: flex;
}

.rightContainer {
    /* position: relative; */
    /* top: 96px; */
    /* width: 40%; */
    flex: 2;
    padding: 20px;
    padding-left: 10px;
    display: flex;
}

.mainBlock { /* Style for yellow box around elements */
    border-radius: 10px;
    background-color: #ffff00;
    padding: 20px;
    width: 100%;
    height: fit-content;
}