<!DOCTYPE html>
<html>

<body>
    <div class="mainBlock cartBlock">

        <div class="cartButton">
            <h1>
                Cart
            </h1>
            <h1 class="accordionSymbol"></h1>
        </div>

        <div class="cartContentOuter" hx-trigger="load" hx-get="/cartcontent"></div>

    </div>

    <script>
        var acc = document.getElementsByClassName("cartButton");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                var panel = this.parentElement;

                panel.classList.toggle("active");
                // var panel = this.nextElementSibling;
                
                // this.classList.toggle("active");
                // panel.classList.toggle("active");
           });
        }
    </script>

</body>

</html>