<!DOCTYPE html>
<html>

<body>
    <div class="cartContent">
        <table>
            {% for orderId in order %}
                <tr>
                {% for item in listOfPizzas %}
                    {% if item["id"] == orderId %}
                        <td>{{item["name"]}}</td>
                        <td>{{order[orderId]}}</td>
                        <td>&euro;{{'{:.2f}'.format(item["price"]*order[orderId]).replace('.',',')}}</td>
                        <td>
                            <form hx-delete="/cartcontent" hx-target=".cartContent" hx-trigger="submit">
                                <input type="hidden" name="order" value="{{item['id']}}">
                                <input type="submit" value="del">
                            </form>
                        </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            <tr>&euro;{{'{:.2f}'.format(totalPrice).replace('.',',')}}</tr>
        </table>
    </div>
</body>

</html>