<!DOCTYPE html>
<html>

<body>
    <div class="menu">
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Cola</h3>
                </div>
                <input type="hidden" name="order" value="Cola">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Fanta Orange</h3>
                </div>
                <input type="hidden" name="order" value="Fanta">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Fanta Cassis</h3>
                </div>
                <input type="hidden" name="order" value="Cassis">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Sprite</h3>
                </div>
                <input type="hidden" name="order" value="Sprite">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>7Up</h3>
                </div>
                <input type="hidden" name="order" value="7Up">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Apple juice</h3>
                </div>
                <input type="hidden" name="order" value="Apple juice">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Chocolate milkshake</h3>
                </div>
                <input type="hidden" name="order" value="Chocolate milkshake">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Strawberry milkshake</h3>
                </div>
                <input type="hidden" name="order" value="Strawberry milkshake">
                <input type="submit" value="add">
            </div>
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/cola.png">
            <div class="menuItemDescription">
                <div class="menuItemText">
                    <h3>Banana milkshake</h3>
                </div>
                <input type="hidden" name="order" value="Banana milkshake">
                <input type="submit" value="add">
            </div>
        </form>
    </div>
</body>

</html>