<!DOCTYPE html>
<html>

<body>
    <div class="menu">
        {% for drink in listOfDrinks %}
            <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
                <img src='../static/images/{{drink["image"]}}'>
                <div class="menuItemDescription">
                    <div class="menuItemText">
                        <h3>{{drink["name"]}}</h3>
                        <h4>&euro;{{'{:.2f}'.format(drink["price"]).replace('.',',')}}</h4>
                    </div>
                    <input type="hidden" name="add" value="{{drink['id']}}">
                    <input type="submit" value="add" class="menuAddButton">
                </div>
            </form>
        {% endfor %}
    </div>

    <script>
        var addButtons = document.getElementsByClassName("menuAddButton");
        var i;
        
        for (i = 0; i < addButtons.length; i++) {
            addButtons[i].addEventListener("click", function () {
                var cart = document.querySelector(".cartBlock");
                
                if (!cart.classList.contains('active')) {
                    cart.classList.add("active");
                }
            });
        }
    </script>

</body>

</html>