<!DOCTYPE html>
<html>

<head>
    <title>Pizzeria - Menu</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://unpkg.com/htmx.org@1.8.2"></script>
</head>

<body>
    <div class="topBar">
        <div class="navBar">
            <a href="/" class="navBarButton">HOME</a>
            <a href="/login" class="navBarButton">Login</a>
        </div>
        <div class="menuBar">
            <a class="menuBarButton" hx-trigger="click" hx-get="/pizzas" hx-target=".leftContainer">Pizzas</a>
            <a class="menuBarButton" hx-trigger="click" hx-get="/drinks" hx-target=".leftContainer">Drinks</a>
            <a class="menuBarButton" hx-trigger="click" hx-get="/desserts" hx-target=".leftContainer">Desserts</a>
        </div>
    </div>
    <div class="contentContainer">
        <div class="leftContainer" hx-trigger="load" hx-get="/pizzas"></div>
        <div class="rightContainer" hx-trigger="load" hx-get="/cart"></div>
    </div>
</body>

</html>