<!DOCTYPE html>
<html>

<body>
    <div class="menu">
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
        <div class="menuItem">
            <img src="../static/images/pizza.png">
        </div>
    </div>
</body>

</html>