<!DOCTYPE html>
<html>

<body>
    <div class="menu">
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Margherita</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Margherita">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Pepperoni</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Pepperoni">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>BBQ Chicken</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="BBQ Chicken">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Shoarma</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Shoarma">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Prosciutto</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Prosciutto">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Calzone</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Calzone">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Contadina</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Contadina">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Nutella</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Nutella">
            <input type="submit" value="add">
        </form>
        <form hx-post="/cartcontent" hx-target=".cartContent" hx-trigger="submit" class="menuItem">
            <img src="../static/images/pizza.png">
            <h3>Vegan</h3>
            <h4>sauce and cheese</h4>
            <input type="hidden" name="order" value="Vegan">
            <input type="submit" value="add">
        </form>
    </div>
</body>

</html>